.header-container {
  /* border: 2px solid black; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  top: 30px;
  /* padding: 5px; */
  position: sticky;
  /* z-index: 1000; */
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: inherit; 
  font-size: clamp(1.5rem, 5vw, 1rem);
  font-weight: 900;
  width: 100%;
  color: black; 
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}




.nav-links {
  /* border: 2px solid black; */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* @media (max-width: 600px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
} */

.link {
  /* border: 2px solid black; */

  font-size: clamp(0.375rem, 3.5vw, 1.125rem);
  font-weight: 600;
  padding-left: 10%;
}